.dashboard-overview {
    border-radius: 8px;
    width: 300px;
    height: auto;
    background-color: var(--card-bg-color);
    box-sizing: border-box;
    padding: 24px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .dashboard-overview section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .dashboard-overview section h3 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .dashboard-overview section p {
    /* text-align: center; */
    padding: 0;
    margin: 0;
  }