<!DOCTYPE html>
<html>
<head>
    <title>User Guide - Habitat Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/uofe_logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</head>
<body>
    <main-header></main-header>
    <div class="dashboard-container">
        <div class="dashboard-card">
            <h1>User Guide</h1>
            <h2>Preface</h2>
            <p>This system provides an interface for simultaneous time-synchronised recording from Raspberry Pi modules.</p>
            <p>Modules may be cameras, microphones, RFID sensors, TTLs, or pretty much anything you can imagine wanting to gather data from or send data to.</p>
            <h2>Setup</h2>
            <p></p>
        </div>
    </div>

</body>
</html>