# Python Virtual Environment
# I have chosen not to ignore these at present as it will speed up cross-device development.
Lib/
Scripts/
Include/
pyvenv.cfg
 .env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Logs
logs/
*.log
log.txt

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.cursor/


# OS specific files
.DS_Store
Thumbs.db

# Project specific
config/active_config.json 
active_config.json

# Brief
brief/

# Video recordings
rec/
videos/
*.mp4
*.ts
*.h264

# Work in progress
wip/
test.sh

# Share folder
habitat_share/

# Setup files
system_setup_summary.txt
system_setup.log
