body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light mode colour definitions */
:root {
  --bg-color: #f5f5f5;            /* Page background */
  --card-bg-color: #ffffff;       /* Cards or panels */
  --text-color: #111111;          /* Main text */
  --secondary-text-color: #555555;/* Less prominent text, like labels or placeholders */
  --accent-color: #d50032;        /* Buttons, highlights (same as dark to keep brand color) */
  --accent-color: cornflowerblue;
  --accent-color-alt: #041E42;
  --border-color: #ddd;           /* Card borders, dividers */
  --button-color: #007bff; 
  --ready-color: blue;
  --recording-color: red;
}

/* Dark mode */
body.dark-mode {
  --bg-color: #1e1e1e;            /* Page background */
  --card-bg-color: #2a2a2a;       /* Cards or panels */
  --text-color: #e0e0e0;          /* Main text */
  --secondary-text-color: #a0a0a0;/* Less prominent text, like labels or placeholders */
  --accent-color: #d50032;        /* Buttons, highlights */
  --accent-color: cornflowerblue;
  --accent-color-alt: #041E42;
  --border-color: #444;           /* Optional, card borders, dividers */
}

.card {

  background-color: var(--card-bg-color);
  color: var(--text-color);

  padding: 12px;
  min-width: 400px;

  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
}