.config-card {
  border: 1px solid var(--border-color);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background: var(--card-bg-color);
  color: var(--text-color);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;   /* <-- make children stretch horizontally */
  align-self: flex-start; /* <-- let card shrink to its content height */
  /* box-shadow: 0 0 20px black; */
}

.config-card.collapsed {
flex: 0 1 auto;
max-width: 350px;
width: auto;
}

.config-card-body {
display: flex;
flex-direction: row;
gap: 16px;
justify-content: space-between;
align-items: flex-start;
}

.config-form {
flex: 1 1 400px;
border: 1px solid var(--border-color);
border-radius: 8px;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.livestream-wrapper {
flex: 1 1 auto;
max-width: 600px;
}

.nested-fieldset {
  border: 1px dashed var(--border-color);
  margin: 10px 0;
  padding: 10px;
}

.nested-fieldset legend {
  font-weight: bold;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.form-field label {
  flex: 0 0 40%;
  width: 180px;
  font-weight: 500;
}

.form-field input {
  flex: 1 1 auto;
  max-width: 100px;
}

.form-field input[type="text"],
.form-field input[type="number"] {
  flex: 1;
  padding: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.form-field input[type="checkbox"] {
  transform: scale(1.2);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.save-button {
  padding: 4px 6px;
  border-radius: 4px;
  max-width: 200px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
}