.module-list-container h2 {
    text-align: center;
}

    .module-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        gap: 8px;
        min-width: 400px;
    }

        .module-list-item {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            gap: 12px;
        } 

        .module-list-item-start {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .module-list-item p {
            text-align: center;
        }

        .status-icon {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                z-index: 2;
                box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
        }

            .ready {
                background-color: blue;
            }

            .recording {
                background-color: red;
            }

            .waiting {
                background-color: inherit;
            }

            .offline {
                background-color: lightgray;
            }


