.dashboard {
  height: 94vh;
  display: flex;
  flex-direction: column;
}

.dashboard-wrapper {
  display: flex;
  flex: 1;          /* takes remaining vertical space */
  gap: 20px;
  padding: 20px 20px;
  min-height: 0;    /*  allow children to shrink */
}

.dashboard-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-height: 0;
  justify-content: center;
  align-items: center;
}

.livestream-square {
  aspect-ratio: 1/1;
  height: 100%;
  max-width: 100%;
}

.dashboard h2 {
  margin-bottom: 15px;
}

.module-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.module-grid > * {
  flex: 1 1 300px; /* adjust card width and responsiveness */
}

.livestream-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 20px;
}


/* Livestreams take most of the width */
.livestreams-container {
  flex: 3;           /* grow 3x relative to sidebar */
  display: flex;
  flex-wrap: wrap;    /* wrap cards on smaller screens */
  gap: 20px;          /* space between cards */
}

/* Sidebar for metadata, commands, etc. */
.sidebar-container {
  flex: 1;             /* sidebar takes ~1/4 width */
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}