.module-list-container h2 {
    text-align: center;
}

    .module-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        padding: 0 16px;
        gap: 8px;
        min-width: 300px;
        background-color: var(--card-bg-color);
        border: 1px solid var(--border-color);
    }

        .module-list-item {
            display: flex;
            align-items: center;
            gap: 12px;
        } 


            
        .status-icon {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                z-index: 2;
                box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
        }

            .ready {
                background-color: blue;
            }

            .recording {
                background-color: red;
            }

            .waiting {
                background-color: inherit;
            }

            .offline {
                background-color: lightgray;
            }


