.recording-page {
    width: 100%;
    padding: 0 32px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

    .recording-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex: 1 1 auto; */
    }