.recording-page {
    width: 100%;
    height: 100%;
    padding: 0 32px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

  .recording-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
