.recording-page {
    width: 100%;
    min-height: 100%;
    padding: 24px 32px;
    overflow-y: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

  .recording-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .recording-container h2 {
    text-align: center;
  }
