button {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.apa-command-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.apa-commands {
  border: 1px solid var(--border-color);
  background-color: var(--card-bg-color);
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  max-width: 260px;
}