.module-information {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 12px;
    border-radius: 4px;
    overflow: auto;
    font-size: 0.85em;
    max-height: 80vh;
}
