/* Header */
.sidebar {
    background-color: var(--card-bg-color);
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10vw;
    min-width: 200px;
    max-width: 320px;
    justify-content: space-between;
}

    .header-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 16px;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .sidebar-title {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    .nav-link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 32px;
        text-align: center;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .nav-link.active {
        background-color: var(--accent-color);
        transition: 0.2s ease;
    } 


    .footer {
        justify-self: flex-end;
        text-align: center;
        padding-bottom: 24px;
    }

    .footer a {
        /* text-decoration: none; */
        color: var(--text-color);
    }

    .footer a:hover {
        color: var(--accent-color);
    }