.habitat-livestream-card {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;

}

.habitat-stream-video {
  width: 100%;
  height: 100%;
}

.habitat-stream-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* KEY CHANGE */
  cursor: pointer;
}

/* Red recording dot */
.habitat-stream-video .recording-indicator {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.offline-livestream {
  height: 100%;
  width: 100%;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}