.livestream-card {
  position: relative;
  aspect-ratio: 1/1;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  background: black;

}

.stream-video {
  width: 100%;
  height: 100%;
}

.stream-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* KEY CHANGE */
  cursor: pointer;
}

.stream-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  color: white;
  pointer-events: none;
}