.dashboard {
    height: 100vh;
    display: flex;
    gap: 32px;
    padding: 64px;
    justify-content: space-between;
    align-items: stretch;
    flex: 3;
  }
  
    .dashboard-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      /* flex-grow: 1; */
    }

    .dashboard-middle {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      min-height: 0;
      gap: 32px;
      flex-grow: 1;
    }
    
          
    .dashboard-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
    }